* {
    border: 1px solid black;
    margin: 4px
}

.disabled {
    background-color: dimgray;
    border-color: dimgray;
    border-style: outset;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.keys {
    display: flex;
}

.operators {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.allKeys {
    display: flex;
    flex-direction: column;
}